/* Mirror Effect in Forms */
.bg-mirror {background: rgba(190, 190, 255, 0.5); backdrop-filter: blur(16px); border-radius: 16px;}

/* Short Error Messages in Forms */
.negative-status {margin: 0 0 10px 0; border-radius: 8px; background-color: rgba(255, 0, 0, 0.5);}

/* Rounded Corners for Smooth Edges */
.rounded-corners-sm {border-radius: 8px;}
.rounded-corners-md {border-radius: 20px;}
.rounded-corners-lg {border-radius: 32px;}

/* Large and Small Screen Adjustments for Bottom Navigation and Rest of the Page */
.bottom-navigation {padding: 20px 10px 20px 10px; display: flex; z-index: 9999; position: fixed; bottom: 0; width: 100%; justify-content: space-around; transition: 0.5s;}
.html {transition: 0.5s}
.bottom-nav-item {flex: 1; color: white;}

@media only screen and (min-width: 1000px) {
  html {margin-left: inherit; transition: inherit;}
  .bottom-navigation {padding: 100px 20px 50px 20px; flex-direction: column; left: 0; width: inherit; height: 100vh !important;transition: 0.5s;}
  .bottom-navigation-icon {width: 35px;}
}
@media only screen and (max-width: 1000px) {
  .bottom-navigation {text-align: center; align-items: center; justify-content: center; align-content: center; align-self: center;}
  .bottom-navigation-icon {width: 45px;}
}

/* Takes Bottom Credits to last of page */
.career-wrapper {display: flex; flex-direction: column; overflow: hidden}
.career-content {flex: 1;}

/* Offcanvas Account Menu */
.offcanvas {z-index: 9999; max-width: 100%}
.accounts-menu-item {flex: 100%;}

/* for Routines Page */
.routine-buttons {border: 0; border-bottom: 2px solid black; background: transparent; font-weight: 700; color: black; text-decoration: none !important}
iframe {pointer-events: none !important;}

#floater-message-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 9999;
}
.floater-message {
  color: #fff; /* Adjust based on your design */
  padding: 15px 20px 15px 20px; /* Added missing unit */
  margin: 10px;
  backdrop-filter: blur(32px);
  border-radius: 16px;
  min-width: 350px;
  max-width: 1000px; /* Adjust based on your design */
}
.message-danger {
  background: rgba(215, 40, 40, 0.8);
}
.message-success {
  background: rgba(40, 215, 40, 0.8);
}

/* Form Validation Styles */
.is-invalid {border: 2px solid red !important;}